body {
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
}

p{
	font-weight:300;
}

a{
	text-decoration:none;
	border-bottom:1px dotted;
	color:black;
}

a:hover{
	border-bottom:none;
}

h1{
	font-size:150px;
	font-weight:100;
	text-align:center;
	color:white;
	margin:auto;
}

h2{
    font-size:24px;
    font-weight:100;
    margin:0px;
}

h3{
	font-size:20px;
	font-weight:100;
	text-align:center;
	color:white;
}

.grey-section{
	background-color:#515151;
    padding:30px;
    color:white;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.grey-section h2{
	font-size:50px;
	text-align:center;
}

.grey-section p{
	text-align:center;
}

.white-section{
	background-color:white;
    padding:30px;
    color:black;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin:auto auto;
    text-align:center;
}

.white-section h2{
	font-size:50px;
	text-align:center;
}

.white-section p{
	text-align:center;
}

.header{
    background-color:#5c2d91;
    height:auto;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.name{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.requirement-heading{
    background-color:#515151;
    padding:30px;
    color:white;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.screenshots li{
    list-style-type: none;
    padding: 10px 0px;
}

.windows-store-app{
	background-color:#515151;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

#source-link{
	background-color:#ffffff;
	text-align:center;
	margin:auto auto;
}

.button{
	padding: 10px 15px;
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
    border-radius:5px;
    text-decoration:none;
    margin:auto auto;
    text-align:center;
}

#sliderFrame img#frameImage{
	
	position:absolute;
	left:84px;
	top:-78px;
}

.elevator-button{
	margin:40px 0 0 0;
}

.elevator-button:hover{
	opacity:0.7;
	cursor:pointer;
}

.elevator-button p{
	margin:5px 0 0 0;
}


/* Stuff for the image slider */
/* (from http://www.menucool.com ) */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    position:relative;
    width:700px;
    margin:100px auto; /*center-aligned*/
}

#slider, #slider div.sliderInner {
    width:480px;height:800px;/* Must be the same size as the slider images */
}

#slider {
	background:#fff url(img/loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
	left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font: bold 14px/20px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
    top:920px;/* Its position is relative to the #slider */
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(img/bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider div.navBulletsWrapper div.active {background-position:0 -11px;}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(img/loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
